#download {
    & .card {
        padding: 3rem 1.5rem 15rem;
        position: relative;
    }

    & .buttons {
        flex-wrap: wrap;
        margin-top: 2rem;
        gap: .625rem;
    }

    & .person-singing {
        position: absolute;
        width: 14.875rem;
        height: 20rem;
        bottom: 0;
        right: -3rem;
    }

    @media (width >= 80em) {
        .card {
            padding: 8.75rem 5rem;

            & > div:nth-child(1) {
                max-width: 40rem;
            }
        }

        & .person-singing {
            width: 29.125rem;
            height: 39.1875rem;
        }
    }
}