#pricing {
    --fs-pricing: 2rem;

    & header {
        text-align: center;
    }

    & h3 {
        margin: 0;
    }

    & .cards {
        margin-top: 2rem;
    }

    & .card p {
        margin-top: .25rem;
    }

    & zingen-pricing {
        display: block;
        padding-block: 1.5rem;
        font: var(--fw-bold) var(--fs-pricing)/120% var(--ff-sans);
        line-height: -1.26px;
    }

    & zingen-pricing small {
        font: var(--fw-base) var(--fs-base)/1.25rem var(--ff-sans);
        color: var(--text-color-secondary);
    }

    & .btn {
        width: 100%;
    }

    & .separator {
        height: 1px;
        margin-block: 1.5rem;
        background: radial-gradient(var(--text-color-secondary), var(--surface-color) 70%);

    }

    @media (width >= 80em) {
        --fs-pricing: 2.5rem;

        & header {
            max-width: 50rem;
            margin-inline: auto;
        }

        & h3 {
            font-size: 1.25rem;
        }

        & zingen-pricing {
            font: var(--fw-bold) var(--fs-pricing)/120% var(--ff-sans);
            line-height: -1.6px;
        }
    }
}